img#moring{
	height:50px;
	width:80px;
	position:absolute;
	background-color:white;
}

div#header{
	position:fixed;
	top:0px;
	left:0px;
	height:50px;
	line-height:50px;
	width:100%;
	box-sizing: content-box;
	margin:0 auto;
	padding:0;
	box-shadow:0 0px 5px rgba(0, 0, 0, 0.7);
}

div#header-bar{
	width:1186px;
	margin:0 auto;
	box-sizing:border-box;
	padding:0 0.8%;
	position:relative;
}

div#header a{
	font-family:Stardos Stencil, fantasy;
	/*font-weight:bold;*/
	text-decoration:none;
	color:inherit;
	font-size:20px;
	height:100%;
	display:inline-table;
	z-index:1000;
}

div#header a.home{
	flex-grow:1;
}

div#header a div.home{
	height:100%;
	width:inherit;
	color:inherit;
	font-weight: bold;
	text-align:center;
	display:inline-table;
	box-sizing: inherit;
}
div#header a.mo-login{
	height:100%;
	text-align:center;
	float:right;
	position: relative;
	right: 60px;
	display: block;
	width: 0; 
}
div#header a.mo-account{
	height:100%;
	text-align:center;
	float:left;
}

div#header a:visited{
	color:inherit;
}

div#header a:hover{
	//box-shadow:2px 2px 0px 1px rgba(0, 0, 0, 0.9);
}

div#header a:active{
	//box-shadow:2px 2px 0px 1px rgba(0, 0, 0, 0.9) inset;
}

div#content{
	/*box-sizing:border-box;*/
	width:1186px;
	margin:0 auto;
	margin-top:50px;
	/*display:flex;*/
	flex-direction:column;
	/*min-height:90%;*/
	background-color:white;
	background-color: rgba(220,220,200, 0.2);
	color: white;
	/*font-weight: bold;*/
	/*box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.3);*/
	/*padding:0 1% 0 1%;*/
	height: fit-content;
}

div#content *{
}

div#content-info{
}


	
h1#content-title{
	font-family:'Noto Sans TC';
	font-size:32px;
	font-weight:700;
	margin:0;
}

h2#content-subtitle{
	color:#1abc9c;
	font-size:26px;
	margin:0;
	margin-left:52px;
}

div#content-author{
	font-family:Caveat, monospace, fantasy, DFKai-sb;
	display:inline;
}

img#Author-profile-pic{
	height:50px;
	width:50px;
}

div#profile-pic-div{
	display:inline-grid;
}

div#content-datetime{
	font-family:Caveat, monospace, fantasy;
	font-size:18px;
	font-style:oblique;
	display:inline;
}

div#article-info{
	display:inline-block;
}

div#article{
	padding-top:15px;
	font-weight:400;
	border-top:1px solid;
	border-color:rgba(0,0,0,0.3);
}

div.center-content{
	text-align:center;
	display:table;
	margin:0 auto;
	height:100%;
}

div.center-table-cell{
	display:table-cell;
	vertical-align:middle;
}

div.mo-login-form{
	display:inline-block;
	margin:0 auto;
	padding:30px;
	border:1px solid rgba(33,33,33,0.3);
	border-radius:3%;
	display:table-inline;
	background-color: rgba(44,44,44,0.8);
}

input.mo-login-com{
	margin-bottom:5px;
}
div.mo-account-menu{
	display:none;
	width:100px;
	position:fixed;
	top:50px;
	background-color:#34495e;
	
}

div.mo-account-menu button{
	width:inherit;
	padding:6px 15px;
}

span.mo-account-control{
	float:right;
	max-height:50px;
}

img#fbm{
	width:100%;
	height:100%;
}

div.petition-option{
	min-height:80px;
	display:flex;
	flex-direction:row;
	
}
div.petition-option:hover{
	background-color: #1f271b;
	color:white;
}

div.issue-type{
	min-width:70px;
	width:70px;
	height:70px;
	margin-left:5px;
	margin-top:5px;
	font-size: 50px;
	border-radius: 25%;
	text-align:center;
	background-color:rgba(96,0,0,0.8);
}

div.issue-abstract{
	flex-grow:1;
	display:flex;
	flex-direction:column;
}
div.issue-title{
	flex-grow:1;
	display:flex;
	flex-direction:row;
	font-weight: bold;
}
div.issue-result{
	text-align:left;
	display:flex;
	flex-direction:row;
}

div.result{
	flex-grow:1;
}
div.red-text{
	display:inline;
	color:red;
}
div.lime-text{
	display:inline;
	color:lime;
}
div.upload-time{
	text-align:bottom;
}


a.issue-link:link{
	color:white;
	text-decoration:unset;
}

a.issue-link:visited{
	color:white;
	text-decoration:unset;
}

div#issue{
	padding:0 5% 0 5%;
	display:flex;
	flex-direction:column;
	min-height:100%;
}

div#issue div.petition-option:hover{
	background-color: inherit;
	color:white;
}

div#issue div.issue-title{
	font-size: calc(18px + 0.390625vw);
	
}

div.margin-bar{
	height:10px;
}

div#issue-content{
	font-weight: normal;
	flex-grow:1;
}

.bold{
	font-weight: bold;
}

.light-blue{
	color: #ADD8E6;
}
.a16px{
	font-size: calc(16px + 0.390625vw);
}
div#issue-vote{
	min-height:80px;
	min-width:100%;
	display:flex;
}

#comment_submit{
	font-size:20px;
	border-radius:20px;
}


.vbtn{
	width:80px;
	height:80px;
	border-radius:25%;
	font-size:16px;
}

.vbtn:hover{
	width:80px;
	height:80px;
	border-radius:25%;
	font-size:16px;
	cursor: pointer;
}

.vbtn:active{
	color:white;
	background-color: #600000;
}

.vbtn-container{
	flex-grow:1;
	display:flex;
	justify-content:center;
}

#ci_form{
	margin-top: 50px;
	font-size: 16px;
}
#in_title{
	width: 80%;
    font-size:20px;
}

#in_select{
	font-size:20px;
	width:19%;
	height:29px;
	float: right;
}

#in_submit{
	font-size:20px;
	float: right;
}

#comment_textarea{
	width:80%;
	height:64px;
}

#student-reply{
  margin-top:30px;
	display:flex;
	flex-direction: column;
	padding:0 5% 0 5%;
}

.reply{
	margin-bottom: 10px;
	border:rgba(255, 255, 255, 0.6) 1px solid;
	border-left:unset;
	border:unset;
	box-shadow: 2px 3px 6px #600000;
}
.reply:hover{
	background-color:rgba(31, 39, 27, 0.3);
}

.comment_content{
	/*margin-left:18px;*/
	padding-left:50px;
}

.comment-data{
	font-weight: bolder;
	padding:1px;
}

.comment-react{
	float:right;
	margin-left:5px;
	padding:0 1px 0 1px;
}
.comment-react:hover{
	background-color:rgba(192, 0, 0, 0.4);
	cursor: pointer;
}

.jqte_editor{
	height: 300px;
}

.comment-reacted{
	border:gray 2px inset;
}

.comment-editor{
	border-radius:15px;	
}


.issue-reacted{
	background-color: #600000;
	color:white;
}

.inline-form{
	display:inline;
}

@media (max-width:1186px){
	div#content{
		width:100%;
		margin-top:50px;
	}
	
	div#header{
		width:100%;
		padding:0;
	}
	
	div#header-bar{
		width:100%;
		box-sizing:border-box;
		padding:0 0.8%;
		position:relative;
	}
	
	body{
		width:100%;
		margin:0 0 0 0;
	}
}